body {
  background-image: url("https://cdn.britannica.com/54/155954-050-6568A963/massif-Mount-Everest-Himalayas-Nepal.jpg");
  background-color: hsl(213, 85%, 92%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid rgb(152, 52, 52);
  background-image: url("supermarket-interior-shelf_165488-3982.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myCanvas2 {
  border: 3px solid rgb(200, 43, 43);
  background-image: url("https://cdn.britannica.com/54/155954-050-6568A963/massif-Mount-Everest-Himalayas-Nepal.jpg");
  border-radius: 40px;
}


